@model ProntoalivioPharmacy.Data.Entities.Laboratory

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <partial name="_LaboratoryDetails" />
</div>
<div>
    <a asp-action="EditLaboratory" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar</a>
    <a asp-action="DetailsNeighborhood" asp-route-id="@Model?.Neighborhood.Id" class="btn btn-outline-success">Regresar</a>
</div>

