@model ProntoalivioPharmacy.Models.AddCategoryProductViewModel

@{
    ViewData["Title"] = "Producto";
    Layout = null;
}

<flash dismissable="true" />

<div class="container smfont">
    <form asp-action="AddCategory" enctype="multipart/form-data" autocomplete="off" asp-route-id="@Model.ProductId" onsubmit="return jQueryAjaxPost(this);">
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="MedicineTypes" />
            <div class="form-group">
                <label asp-for="MedicineTypeId" class="control-label"></label>
                <select asp-for="MedicineTypeId" asp-items="Model.MedicineTypes" class="form-control"></select>
                <span asp-validation-for="MedicineTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
